* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

nav {
    display: flex;
}

.topnav {

}

.topnav div {
    margin: 0 30px;
}

.sociallinks {
    flex-direction: column;
}

.sociallinks div {
    margin: 10px 0;
}