* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    color: #ffffff;
    background-image: url("https://images.unsplash.com/photo-1536559692556-79e8be88e8ab?w=2008");
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    font-family: "Helvetica", Arial, sans-serif;
    position: relative;
}

@media only screen and (max-aspect-ratio: 4016/6016) {
    body {
        background-size: auto 100vh;
    }
}

a {
    text-decoration: inherit;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 20vh;
    min-height: 140px;
}

header a {
    padding: 5px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topnav a {
    margin: 0 10px;
}

.sociallinks {
    flex-direction: column;
}

main {
    width: 60vw;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 60vh;
}

@media only screen and (max-height: 700px) {
    main {
    }
}